body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: black;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: green;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error{
    color: red;
    background-color: #FFBABA;
}
.validation{
    color: #D63301;
    background-color: #FFCCBA;
}