body {
    background-color: black;
    font-family: "Verdana", sans-serif;
    font-size: 12px;
    padding-top: 70px;
}

.header {
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
    z-index: 1000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.85+61,0.2+100 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.85) 61%, rgba(0, 0, 0, 0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#33000000', GradientType=0); /* IE6-9 */
    border: 0px;
}

#logo {
    float: left;
    width: 170px;
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
    background: url("../pics/getflix-logo.png");
    background-size: 150px 50px;
    background-repeat: no-repeat;
}

#menu {
    float: left;
    width: 300px;
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: medium;
    margin-top: 20px;

}

.menuEntry {
    cursor: default;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.menuEntry:hover {
    cursor: pointer;
    background-color: #1c94c4;
    color: white !important;
    font-weight: bold !important;

}

#searchForm {
    float: right;
    width: 220px;
    margin-top: 10px;
    margin-right: 10px;
}

#searchButton {
    background: url("../pics/searchbuttonsmall.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    vertical-align: top;
}

#searchField {
    padding: 5px;
    border: solid 1px #1c94c4;
    transition: box-shadow 0.3s, border 0.3s;
    background-color: black;
    color: #5bc0de;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.movieFullDetail {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #5bc0de;
    z-index: 1001;
    margin-left: -8px;
}

.moviePresentation {
    margin: 0 auto;
}

.movieRow {
    margin: 0 auto;
    width: 100%;
}

.moviePresentationTitle {
    color: white;
    font-size: x-large;
    margin-bottom: 20px;
}

.movieContainer {
    float: left;
    margin-bottom: 25px !important;
    margin-right: 8px !important;
}

.movieThumbnail {
    float: left;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 169px;
    cursor: default;
}

.movieThumbnail:hover {
    cursor: pointer;
}

.movieInfoShort {
    display: none;
    color: white;
}

.movieInfoShort:hover {
    display: block;
}

.movieContainer:hover {
    transform: scale(1.5);
    z-index: 999;
}

.innerTitle {
    position: relative;
    display: inline-flex;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.60);
    color: #ececec !important;
    font-size: 16px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.innerTitleFull {
    color: white;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    display: block;
    font-size: 50px;
    top: 15px;
    left: 30px;
    text-shadow: 2px 2px 6px #0f0f0f;
    width: 80%;
}

.innerDetail, .innerDetailFull, .innerDetailFixedFull {
    position: relative;
    display: inline-flex;
    top: 20px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.50);
    color: white !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.innerDetailFull {

    font-size: 18px;
    margin-top: 25px;
    left: 30px;
    padding-left: 15px;
    padding-right: 15px;
    display: table
}

.innerDetailFixedFull {
    font-size: 18px;
    margin-top: 25px;
    left: 30px;
    padding-left: 15px;
    padding-right: 15px;
    display: table;
    width: 93%;
}

.innerFullList {
    font-size: 20px;
    list-style-type: square;
    display: block;
}

.innerDate {
    position: relative;
    display: inline-flex;
    top: 10px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.50);
    color: #dfdfdf !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.innerPlayButton, .innerFullPlayButton {
    display: block;
    float: right;
    margin-top: 80px;
    margin-right: 10px;
    background: url("../pics/play-movie.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    cursor: default;
}

.innerPlayButton:hover {
    background-size: 45px 45px;
    cursor: pointer;
}

.innerFullPlayButton {
    display: block;
    float: none;
    margin: 0 auto;
    margin-bottom: 30px !important;
    margin-top: -100px; !important;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    text-shadow: 8px 8px 20px #0f0f0f;
    #shadow: 8px 8px 20px #0f0f0f;
}

.innerFullPlayButton:hover {
    background-size: 90px 90px;
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.closeFullDetailButton {
    float: right;
    display: block;
    margin-top: 30px;
    margin-right: 45px;
    color: white;
    font-weight: bold;
    font-size: large;
    cursor: default;
    text-shadow: 2px 2px 6px black;
}

.closeFullDetailButton:hover {
    cursor: pointer;
    color: red;
}

.innerAddButton, .innerFullAddButton {
    display: block;
    float: right;
    margin-top: 105px;
    margin-right: 10px;
    background-position: center;
    width: 25px;
    height: 25px;
    cursor: default;
    color: white;
    font-weight: bold;
    font-size: larger;
    border: 2px solid;
    border-radius: 90px;
    border-color: red;
}

.innerFullAddButton {
    float: none;
    margin: 0 auto;
    margin-top: -100px !important;
    width: 80px;
    height: 80px;
    font-size: 45px;
    border: 6px solid;
    border-color: red;
}

.innerAddButton:hover {
    background-size: 80px 80px;
    cursor: pointer;
    color: red;
}

.innerFullAddButton:hover {
    background-size: 90px 90px;
    cursor: pointer;
    color: red;
}

.innerList {
    position: relative;
    list-style-type: square;
    color: #dfdfdf !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    left: -10px;
}

.expand-transition {
    transition: all .5s ease;
    background-color: black;
    overflow: hidden;
}

.expand-enter, .expand-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}