body {
    background-color: white;
    font-family: "Verdana", sans-serif;
    font-size : 12px;
}

#movieList {
	width: 50%;
    display: inline;
    float:left;
}

#movieDetail {
    width: 50%;
    float: left;
    display: inline;
    float:left;
}

#saveFilmButton {
    display: inline-block;
    float: right;    
}

.posterThumbnail {
    background-color: black;  
    display: inline-block;
}

.posterThumbnail img {
    height : 120px;
    width : 80px;
}

#storeConfirmation {
    z-index: 1;
    position:fixed;
    top: 50%;
    left: 50%;
    width:100px;
    height:30px;
    margin-top: -50px; /*set to a negative number 1/2 of your height*/
    margin-left: -15px; /*set to a negative number 1/2 of your width*/
    background-color: white;
}
