<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Gestion du compte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/layouts/marketing.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/layouts/default.css"/>
</h:head>
<h:body>

    <f:metadata>
        <f:viewParam name="id" value="#{movieService.id}"/>
        <f:viewAction action="#{movieService.getMovieInfos}"/>
        <f:viewAction action="#{movieService.getMovieCollection}"/>
        <f:viewAction action="#{movieService.isMovieOwned}"/>
    </f:metadata>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="#{request.contextPath}">
                <img width="200px"
                     src="#{request.contextPath}/resources/img/getflix-logo.png"
                     alt="getflix-logo"/></a>

        </div>
    </div>


    <div class="splash-container">
        <div class="splash">
            <p class="splash-subhead">
                <h:messages styleClass="info" globalOnly="true"/>
                <br/>
                <h:outputText value="#{movieService.movie.title} (#{movieService.movie.year})"/>
                <br/>
                <table class="pure-table pure-table-horizontal">
                    <tbody>
                    <tr>
                        <td width="auto"><h:graphicImage
                                value="#{movieService.movie.poster}"
                                width="200px"/>
                        </td>
                        <td width="50%"><h:outputText value="#{movieService.movie.synopsis}"/></td>
                        <td width="auto" style="font-size: 30px">
                            <h:outputText value="#{paymentService.price} €" rendered="#{!movieService.movieOwned}"/>
                            <h:outputText value="Acheté" rendered="#{movieService.movieOwned}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
            </p>

            <p>
                <h:form styleClass="pure-form pure-form-stacked" rendered="#{!movieService.movieOwned}">
                    <h:commandButton value="Acheter le titre" action="#{movieService.buyMovie}" style="width: auto"
                                     styleClass="pure-button pure-button-primary"
                                     onclick="setTimeout(function() {
                                       window.location=document.URL;
                                     }, 2000);"
                    />
                </h:form>
            </p>

            <p>
                <h:form rendered="#{movieService.movieOwned}">
                    <a href="#{routeur.host}/play.php?id=#{movieService.id}">
                        <img alt="play"
                             src="#{request.contextPath}/resources/img/play-movie.png"
                             width="80px"
                        />
                    </a>
                </h:form>
            </p>

        </div>
    </div>


</h:body>
</html>