<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Gestion du compte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/layouts/marketing.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/layouts/default.css"/>
</h:head>
<h:body>


    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="#{request.contextPath}">
                <img width="200px"
                     src="#{request.contextPath}/resources/img/getflix-logo.png"
                     alt="getflix-logo"/></a>

        </div>
    </div>

    <div class="splash-container">
        <div class="splash">
            <p class="splash-subhead">

                <h:form id="alimentation" styleClass="pure-form">
                    <p class="splash-subhead">
                        Indiquez le montant que vous souhaitez approvisionner
                    </p>
                    <p>
                        <h:inputText id="amt" value="#{paymentService.value}" style="width: auto"
                                     required="true"
                                     requiredMessage="Le montant est obligatoire"
                                     maxlength="15">
                            <f:validateDoubleRange minimum="0.01"/>
                        </h:inputText>
                    </p>
                    <p><h:commandButton id="submit" style="width: auto" value="Payer"
                                        action="#{paymentService.creditAccount}"
                                        styleClass="pure-button pure-button-primary"/>&nbsp;
                    </p>
                </h:form>

            </p>
            <div class="messagecolor">
                <h:messages styleClass="error" showSummary="true"
                            showDetail="false"/>
            </div>

        </div>
    </div>


</h:body>
</html>