<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Gestion du compte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/layouts/marketing.css"/>
    <link rel="stylesheet" href="#{request.contextPath}/resources/css/layouts/default.css"/>
</h:head>
<h:body>

    <f:metadata>
        <f:viewAction action="#{movieService.getMovieCollection}"/>
    </f:metadata>


    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="#{request.contextPath}">
                <img width="200px" src="#{request.contextPath}/resources/img/getflix-logo.png"
                     alt="getflix-logo"/>
            </a>

        </div>
    </div>

    <div class="splash-container">
        <div class="splash">
            <p class="splash-subhead">
                <h:outputText value="Bienvenue, #{userService.user.username} !"/>
                <br/><br/>
                <h:outputText value="Votre compte prépayé est actuellement de #{userService.user.balance} €"/>

                <br/>

                <h:form styleClass="pure-form pure-form-stacked">
                    <h:button value="Alimenter le compte prépayé" outcome="credit" style="width: auto"
                              styleClass="pure-button pure-button-primary"
                    />
                </h:form>

                <br/> <br/>

                <h:outputText value="Historique de vos achats" rendered="#{movieService.collection.size() > 0}"/>

                <br/> <br/>

                <h:dataTable value="#{movieService.collection}" var="collection"
                             rendered="#{movieService.collection.size() > 0}"
                             styleClass="pure-table pure-table-horizontal">
                    <h:column>
                        <f:facet name="header">Titre</f:facet>
                        <h:outputText value="#{collection.title}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Date d'achat</f:facet>
                        <h:outputText value="#{collection.date}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header"/>
                        <a href="#{routeur.host}/play.php?id=#{collection.id}">
                            <img alt="play"
                                 src="resources/img/play-movie.png"
                                 width="50px"
                            />
                        </a>
                    </h:column>
                </h:dataTable>

            </p>

            <br/>

        </div>
    </div>


</h:body>
</html>