<html xmlns:v-on="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="js/jquery-2.2.0.min.js"></script>
		<script src="js/vue.js"></script>
        <script src="js/getflix.js"></script>
        <link rel="stylesheet" type="text/css" href="css/getflix.css">
        <title>GetFlix!</title>
	</head>

	<body>
        <div id="viewJS">
            <div class="header" v-on:click.prevent.stop="closeFullDetail()">
                <a href="index.html" id="logo"></a>
                <div id="menu"><div id="internalSwitch" class="menuEntry" v-on:click="setDataSrc('internal')">Client</div><div id="externalSwitch" class="menuEntry" v-on:click="setDataSrc('external')">Admin</div></div>
                <div id="searchForm">
                    <form v-on:submit.prevent="search(inputSearchValue)">
                        <input type="text" id="searchField" v-model="inputSearchValue" />
                    </form>
                </div>
            </div>
            <div class="moviePresentation" >
                <div class="movieFullDetail">
                    <div class="closeFullDetailButton" v-on:click="closeFullDetail()">
                        x
                    </div>
                    <div class="innerTitleFull">{{currentSelectedMovie.title}}</div>
                    <div class="innerDetailFixedFull">{{currentSelectedMovie.overview}}</div>
                    <div class="innerDetailFull"><b>Release date : </b>{{currentSelectedMovie.release_date}}</div>
                    <div class="innerDetailFull"><b>Rating : </b>{{currentSelectedMovie.popularity | round1}}</div>
                    <div class="innerDetailFull"><b>Director : </b>{{currentSelectedMovie.director}}</div>
                    <div class="innerDetailFull">
                        <ul class="innerFullList">
                            <li v-for="genre in currentSelectedMovie.genres" >{{genre.name}}</li>
                        </ul>
                    </div>
                    <template v-if="dataSource.src == 'external'">
                        <div class="innerFullAddButton" v-on:click.prevent.stop="addMovie(currentSelectedMovie.id)">
                            <div style="margin: 0 auto;padding-left: 21px;padding-top: 7px;">+</div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="innerFullPlayButton" v-on:click.prevent.stop="playMovie(currentSelectedMovie)">
                        </div>
                    </template>
                </div>
                <div class="moviePresentationTitle" v-if="inputSearchValue">Search result for <i>{{inputSearchValue}}</i></div>
                <div class="moviePresentationTitle" v-else="inputSearchValue">Popular on GetFlix right now</div>

                <div class="movieRow" v-for="movieRow in movieCollection" track-by="$index">
                    <div v-for="movie in movieRow" class="movieContainer"  transition="expand" v-on:mouseover="changeMovieDetail(movie)" v-on:mouseleave="revertMovieDetail(movie)">
                        <div class="movieThumbnail" v-on:click="displayMovieFullDetail(movie)" style="background-image: url({{ movie.backdrop_path }});">
                            <div class="innerTitle">#{{movie.title}}</div>
                            <div class="movieInfoShort" id="movieInfoShort-{{movie.id}}">
                                <div class="innerDetail">
                                    <ul class="innerList">
                                        <li v-for="genre in movie.genres" >{{genre.name}}</li>
                                    </ul>
                                </div>
                                <template v-if="dataSource.src == 'external'">
                                    <div class="innerAddButton" v-on:click.prevent.stop="addMovie(movie.id)">
                                        <div style="margin: 0 auto;padding-left: 6px;padding-top: 1px;">+</div>
                                    </div>
                                </template>
                                <template v-else>
                                    <div class="innerPlayButton" v-on:click.prevent.stop="playMovie(movie)">
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

            var movieSearchDao = new movieSearchDao();
            var rowCreator = new rowCreator('.movieContainer', '.moviePresentation');

            vm = new Vue({
                el: '#viewJS',
                data:
                {
                    movieCollection:{},inputSearchValue:'', dataSource:{src:"internal"}, currentSelectedMovie:{}, requestInfo:{canceled:false}
                },
                methods:
                {
                    setDataSrc: function(srcType)
                    {
                        this.closeFullDetail();
                        this.inputSearchValue = '';

                        if (srcType === "external")
                        {
                            this.dataSource.src="external";
                            $("#externalSwitch").css({"color":"white", "font-weight":"bold"});
                            $("#internalSwitch").css({"color":"grey", "font-weight":"200"});
                        } else if (srcType === "internal")
                        {
                            this.dataSource.src="internal";
                            $("#internalSwitch").css({"color":"white", "font-weight":"bold"});
                            $("#externalSwitch").css({"color":"grey", "font-weight":"200"});
                            //this.updatePopularity(20);
                        }

                        this.getPopularsMovies();
                    },
                    updatePopularity: function(limit)
                    {
                        movieSearchDao.updatePopularity(limit);
                    },
                    search: function() {
                        var view = this;
                        this.movieCollection = {};
                        this.closeFullDetail();

                        if(view.inputSearchValue)
                        {
                            if (view.requestInfo.canceled === false)
                            {
                                view.requestInfo.canceled = true;
                                setTimeout(function(){
                                    var promise = movieSearchDao.search(view.inputSearchValue, view.dataSource.src);
                                    promise.progress(function (movieCollection) {
                                        view.movieCollection = rowCreator.createRow(rowCreator.getItemByRow(), movieCollection);
                                    });
                                    view.requestInfo.canceled = false;
                                }, 1000);
                            }
                        } else {
                            view.getPopularsMovies();
                        }
                    },
                    getPopularsMovies: function() {
                        var view = this;
                        this.movieCollection = {};

                        var promise = movieSearchDao.getPopularsMovies(this.dataSource.src);
                        promise.progress(function (movieCollection) {
                            view.movieCollection = rowCreator.createRow(rowCreator.getItemByRow(), movieCollection);
                        });
                   },
                    centerMovieRows : function()
                    {
                        var totalMovieContainerWidth = 0;
                        $(".movieRow").first().children(".movieContainer").each(function()
                        {
                            totalMovieContainerWidth += $(this).width();
                        });

                        var containerXPos = ($(document.documentElement).width() - totalMovieContainerWidth) / 2;
                        $(".movieRow").css({"margin-left":containerXPos + "px"});
                    },
                    handleResize : function() {
                        this.movieCollection = rowCreator.createRow(rowCreator.getItemByRow());
                        //this.centerMovieRows();
                    },
                    changeMovieDetail : function(movie) {
                        $("#movieInfoShort-" + movie.id).parent().parent().prevAll(".movieContainer").css({"position":"relative","left":-100,"opacity":0.5});
                        $("#movieInfoShort-" + movie.id).parent().parent().nextAll(".movieContainer").css({"position":"relative","left":100,"opacity":0.5});
                        $("#movieInfoShort-" + movie.id).css({"opacity":1,"display":"block"});
                        $("#movieInfoShort-" + movie.id).parent().parent().css({"box-shadow":"0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7)"});
                    },
                    revertMovieDetail : function(movie) {
                        $("#movieInfoShort-" + movie.id).parent().parent().prevAll(".movieContainer").css({"position":"relative","left":0,"opacity":1});
                        $("#movieInfoShort-" + movie.id).parent().parent().nextAll(".movieContainer").css({"position":"relative","left":0,"opacity":1});
                        $("#movieInfoShort-" + movie.id).css({"opacity":0,"display":"none"});
                    },
                    displayMovieFullDetail : function (movie)
                    {
                        this.currentSelectedMovie = movie;
                        $(".moviePresentationTitle").fadeOut("slow");
                        //$(".movieRow").fadeOut("slow");
                        $(".movieRow").css({"opacity":0});

                        // A corriger, la vue de devrait pas à connaître ce détail
                        if (this.dataSource.src === "external")
                        {
                            $(".movieFullDetail").css({
                                "background": "url(\"http://image.tmdb.org/t/p/w780" + movie.poster_path + "\")",
                                "background-repeat": "no-repeat",
                                "background-size": "100%"
                            });
                        } else if (this.dataSource.src === "internal")
                        {
                            $(".movieFullDetail").css({
                                "background":"url(\"pics/posters" + movie.poster_path + "\")",
                                "background-repeat": "no-repeat",
                                "background-size": "100%"
                            });
                        }

                        $(".movieFullDetail").fadeIn(500);

                    },
                    closeFullDetail : function() {
                        $(".moviePresentationTitle").fadeIn(300);
                        $(".movieFullDetail").fadeOut(300);

                        //$(".movieRow").fadeIn("fast");
                        $(".movieRow").css({"opacity":1});

                    },
                    playMovie : function(movie) {
                        window.location.replace("http://localhost:8080/getflixpayment/buymovie/" +  movie.id);
                    },
                    addMovie : function(id) {
                        movieSearchDao.storeMovie(id);
                        /*
                        localMovieArray = [];

                        for (var i = 0; i <  this.movieCollection.length; i++) {
                            localMovieCollection = [];
                            for (var j = 0; j <  this.movieCollection[i]; j++) {
                                var obj = this.movieCollection[i][j];
                                if (obj.id !== id)
                                {
                                    localMovieCollection.push(obj);
                                } else {
                                    alert(obj.id + " match " + id);
                                }
                            }
                            localMovieArray.push(localMovieCollection);
                        }
                        this.movieCollection = rowCreator.createRow(rowCreator.getItemByRow(),this.movieCollection);
                        */
                    }
                },
                ready: function () {
                    window.addEventListener('resize', this.handleResize);
                }
            });

            // By default, show most populars movies, with internal datas
            vm.setDataSrc('internal');

            // Bind value of inputSearchValue with the search function
            vm.$watch('inputSearchValue', function(val)
            {
                this.search(val);
            });

            // Setup custom filters
            Vue.filter('round1', function (value) {
                return value.toFixed(1);
            });
        </script>
	</body>
</html>